<nav class="navbar navbar-expand-lg fixed-top" [class.navbar-scrolled]="scrolled" (click)="$event.stopPropagation()">

  <div class="container-fluid px-3">

    <!-- LOGO -->
    <a class="navbar-brand" routerLink="/">
      <img src="VidhuraTechLogo.png" class="logo" />
    </a>

    <!-- HAMBURGER -->
    <button class="navbar-toggler" (click)="toggleMobileMenu()">
      ☰
    </button>

    <!-- MENU -->
    <div class="navbar-collapse" [class.show]="mobileMenuOpen">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a routerLink="/" class="nav-link" (click)="closeMenu()">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="/curriculum" class="nav-link" (click)="closeMenu()">Curriculum</a>
        </li>

        <li class="nav-item">
          <a routerLink="/placements" class="nav-link" (click)="closeMenu()">Placements</a>
        </li>

        <li class="nav-item">
          <a routerLink="/jobs-home" class="nav-link" (click)="closeMenu()">Jobs</a>
        </li>

        <li class="nav-item">
          <a routerLink="/about" class="nav-link" (click)="closeMenu()">About</a>
        </li>

        <!-- CTA -->
        <li class="nav-item mt-lg-0 mt-2">
          <button class="btn enroll-btn w-100" (click)="openDemo()">
            Join Demo
          </button>
        </li>

        <!-- LOGIN -->
        <li *ngIf="!authService.isLoggedIn()" class="nav-item mt-2">
          <a routerLink="/login" class="nav-link" (click)="closeMenu()">Login</a>
        </li>

        <!-- USER -->
        <li *ngIf="authService.isLoggedIn()" class="nav-item mt-2">

          <div class="user-wrapper">

            <div class="user-display" (click)="toggleDropdown()">
              <i class="fa-solid fa-user-circle"></i>
              <span class="user-name">
                {{ authService.getUser()?.name }}
              </span>
            </div>

            <div class="user-dropdown" *ngIf="showDropdown">

              <div class="dropdown-item" (click)="goDashboard()">
                Dashboard
              </div>

              <div class="dropdown-item" (click)="goToProfile()">
                View Profile
              </div>

              <div class="divider"></div>

              <div class="dropdown-item logout" (click)="logout()">
                Logout
              </div>

            </div>

          </div>

        </li>

      </ul>

    </div>

  </div>
</nav>

<!-- BACKDROP -->
<div class="menu-backdrop" *ngIf="mobileMenuOpen" (click)="closeMenu()">
</div>