<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'navbar-scrolled': scrolled }">
  <div class="container-fluid px-4 px-lg-5">
    <!-- LOGO + BRAND -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <div class="logo-wrapper">
        <img src="VidhuraTechLogo.png" alt="vidhura Tech Logo" class="logo" />
      </div>
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="nav" #navCollapse>
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a routerLink="/" (click)="closeMenu()"  routerLinkActive="active" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="/curriculum" (click)="closeMenu()" routerLinkActive="active" class="nav-link">Curriculum</a>
        </li>

        <li class="nav-item">
          <a routerLink="/courses" (click)="closeMenu()" routerLinkActive="active" class="nav-link">Courses</a>
        </li>

        <li class="nav-item">
          <a routerLink="/resume" (click)="closeMenu()" routerLinkActive="active" class="nav-link">Resume</a>
        </li>

        <li class="nav-item">
          <a routerLink="/placements" (click)="closeMenu()" routerLinkActive="active" class="nav-link">Placements</a>
        </li>

        <li class="nav-item">
          <a routerLink="/jobs-home" (click)="closeMenu()" routerLinkActive="active" class="nav-link">Jobs</a>
        </li>

        <li class="nav-item">
          <a routerLink="/about" (click)="closeMenu()" routerLinkActive="active" class="nav-link">About</a>
        </li>

        <!-- CTA BUTTON -->
        <li class="nav-item ms-3">
          <button class="btn enroll-btn" (click)="openDemo(); closeMenu();">Join Demo</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
