<div class="container mt-3">

  <h3>Curriculum Content</h3>

  <div class="row mt-3">
    <div class="col-md-4">
      <input class="form-control"
             placeholder="Batch ID"
             [(ngModel)]="batchId" />
    </div>

    <div class="col-md-4">
      <select class="form-control"
              [(ngModel)]="courseId">
        <option value="java">Java</option>
        <option value="python">Python</option>
      </select>
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary w-100"
              (click)="load()">
        Load Content
      </button>
    </div>
  </div>

  <div *ngIf="content" class="mt-4">

    <div *ngFor="let m of content.curriculum" class="card p-3 mb-2">
      <h5>{{ m.title }}</h5>

      <ul>
        <li *ngFor="let t of m.topics">
          {{ t }}
        </li>
      </ul>
    </div>

  </div>

</div>