<div class="card shadow-sm">
  <div class="card-header">
    <h5>{{ isEditMode ? 'Edit Course' : 'Create Course' }}</h5>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Title -->
      <div class="mb-3">
        <label>Title</label>
        <input class="form-control" formControlName="title" />
        <small class="text-danger" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
          Title is required
        </small>
      </div>

      <!-- Code -->
      <div class="mb-3">
        <label>Code</label>
        <input class="form-control" formControlName="code" />
        <small class="text-danger" *ngIf="form.get('code')?.touched && form.get('code')?.invalid">
          Code is required
        </small>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" rows="4" formControlName="description"></textarea>
      </div>

      <!-- Thumbnail -->
      <div class="mb-3">
        <label>Thumbnail URL</label>
        <input class="form-control" formControlName="thumbnailUrl" />
      </div>

      <!-- Level -->
      <div class="mb-3">
        <label>Level</label>
        <select class="form-select" formControlName="level">
          <option *ngFor="let level of levels" [value]="level">
            {{ level }}
          </option>
        </select>
      </div>

      <!-- Duration -->
      <div class="mb-3">
        <label>Duration Hours</label>
        <input type="number" class="form-control" formControlName="durationHours" />

        <small class="text-danger" *ngIf="form.get('durationHours')?.touched &&
                      form.get('durationHours')?.invalid">
          Duration must be at least 1 hour
        </small>
      </div>

      <button class="btn btn-primary" type="submit">
        {{ isEditMode ? 'Update Course' : 'Create Course' }}
      </button>

    </form>
  </div>
</div>