.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #0b1f3a, #0f172a);
  color: white;
  min-height: 100vh;
  padding: 20px 16px;
  transition: 0.25s ease;
  position: relative;
  height: 100%;
}

.sidebar.collapsed {
  width: 80px;
}

/* BRAND */
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}

.brand img {
  width: 36px;
}

.brand span {
  font-weight: 600;
  font-size: 16px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 12px;
  border-radius: 10px;

  color: #cbd5e1;
  text-decoration: none;

  transition: all 0.2s ease;
}

/* ICON */
.menu i {
  font-size: 18px;
  width: 20px;
  text-align: center;
}

/* HOVER */
.menu a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: white;
  transform: translateX(3px);
}

/* ACTIVE */
.menu a.active {
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: white;
  font-weight: 500;
}

/* COLLAPSED TEXT HIDE */
.sidebar.collapsed .menu span {
  display: none;
}

/* BUTTON */
.menu-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}