<div class="sidebar" [class.collapsed]="collapsed" [class.mobile]="mobile">

  <!-- HEADER -->
  <div class="brand" (click)="goHome()">
    <button class="menu-btn" (click)="menuToggle.emit(); $event.stopPropagation()">☰</button>

    <img src="VidhuraTechLogo.png" />

    <span *ngIf="!collapsed">Vidhura Tech</span>
  </div>

  <!-- MENU -->
  <div class="menu">

    <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <i [class]="item.icon"></i>

      <span *ngIf="!collapsed">
        {{ item.label }}
      </span>

    </a>

  </div>

</div>