<aside class="sidebar" [class.collapsed]="collapsed" [class.mobile]="mobile">

  <div class="brand">
    <button class="menu-btn" type="button" (click)="menuToggle.emit(); $event.stopPropagation()">
      <i class="bi bi-list"></i>
    </button>

    <div class="brand-logo" (click)="goHome()">
      <img src="VidhuraTechLogo.png" alt="Vidhura Tech" />
      <span *ngIf="!collapsed">Vidhura Tech</span>
    </div>
  </div>

  <div class="user-strip" *ngIf="!collapsed">
    <small>{{ user?.role || 'Dashboard' }}</small>
    <strong>{{ user?.name || 'User' }}</strong>
  </div>

  <nav class="menu">
    <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <i [class]="item.icon"></i>

      <span *ngIf="!collapsed">
        {{ item.label }}
      </span>
    </a>
  </nav>

</aside>