<nav class="breadcrumb" *ngIf="breadcrumbs.length">
  <!-- HOME -->
  <a class="home-dot" [routerLink]="breadcrumbs[0].url">
    <i class="bi bi-house"></i>
  </a>
  <!-- ITEMS -->
  <ng-container *ngFor=" let crumb of breadcrumbs; let last = last; let first = first ">
    <!-- SKIP FIRST -->
    <ng-container *ngIf="!first">
      <span class="separator"> / </span>
      <!-- LINK -->
      <a *ngIf="!last" [routerLink]="crumb.url"> {{ crumb.label }} </a>
      <!-- ACTIVE -->
      <span *ngIf="last" class="active"> {{ crumb.label }} </span>
    </ng-container>
  </ng-container>
</nav>